<div id="title">
    <div id="header">
        <span id="banner-image"></span>
        <span id="services">
            <span class="service">
                <b>Version <span id="versionLabel"></span></b> <b style="color: Red;" id="branchLabel"></b>
            </span>
            |
            <span class="service">
                <a href="#" onclick="window.open('https://drive.google.com/drive/folders/15jfY4PeCxU-lPG07EekpfF78zdq4ZHad?usp=sharing', 'popup', 'scrollbars=1'); return false"><b>Manual</b></a>
            </span>
            |
            <span class="service">
                <a href="#" onclick="window.open('./app/Contacts.htm', 'popup', 'scrollbars=1,width=690,height=700'); return false"><b>Info & Contacts</b></a>
            </span>
        </span>
    </div>
</div>
