
/*  #####  TreePanel Layer NODE  #####*/

.impact-LayerTreePanel .x-grid-item {
    color: #404040;
    font: 300 11px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}

.x-tree-hidden{
    display:none;
}
.x-tree-error{
    color: #FF0000;
    font-style: italic;
}

.x-tree-disabled{
    color: #bfbfbf;
    font-style: italic;
}
.x-tree-icon-leaf_zip {
    background-image:url('../icons/zip.png');
}
.x-tree-icon-leaf_raster {
    background-image:url('../icons/raster.png');
}
.x-tree-icon-leaf_virtual {
    background-image:url('../icons/vrt.png');
}
.x-tree-icon-leaf_class {
    background-image:url('../icons/class.png');
}
.x-tree-icon-leaf_kml {
    background-image:url('../icons/kml.png');
}
.x-tree-icon-leaf_geojson {
    background-image:url('../icons/geojson.png');
}

.x-tree-icon-leaf_vector,
.x-grid-tree-node-expanded .x-tree-icon-leaf_vector{
    background-image:url('../icons/vector.png');
}

/* #####  Inputs  ##### */
.x-item-disabled .x-form-item-label{
    opacity: .5;
}
.x-item-disabled .x-form-field {
    opacity: .7;
    background: #ddd;
}
.x-item-disabled .x-mask{
    background: transparent;
}


/* #####  Validation error  ##### */
.x-form-type-text input.x-form-invalid-field,
.x-form-type-text textarea .x-form-invalid-field
{
    background: pink;
    border-color: #c30;
    background-image: none;
}
.x-tip-form-invalid{
    border-radius: 0;
    border: 0;
    background: White;
    padding: 6px 5px 4px 5px;
}
.x-tip-body-form-invalid{
    font-weight: bold;
    color: #222;
}


/* #####  Accordion icons  ##### */
.x-accordion-hd .x-tool-expand-bottom{
    background-position: 0 -195px;
}
.x-accordion-hd .x-tool-collapse-top{
    background-position: 0 -210px;
}

.full_opacity{
    opacity: 1;
}

/* #####  RESET EXTJS7 default  ##### */

.x-panel-body-default {
    font-size: 11px;
}

/* Tabpanel header */
.x-tab-default-top{
    padding: 2px 10px 2px 10px;
}
.x-tab-bar-default-top > .x-tab-bar-body-default {
    padding: 0px 0px 0 0px;
}

.x-toolbar-default {
    padding: 1px 1px 1px 1px;
}
/* reduce the size of the toolbar */
.x-btn-default-toolbar-small{
    padding: 1px 1px 1px 1px;
}
/* reduce the size of the layer node */
.x-grid-cell-inner-treecolumn {
    padding: 1px 1px 1px 1px;
}

/* reduce size and color of panel header eg Overlays */
.x-panel-header-default {
    background-image: none;
    background-color: #0a0a0a1a;;
    padding: 2px 10px 2px 10px;
}
.x-panel-header-default-horizontal.x-header-noborder {
    padding: 2px 10px 2px 10px;
}
.x-panel-header-title-default {
    color: #555;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 20px;
}

/* wrapper around radio button size */
.x-form-cb-wrap-default {
    height: 20px;
}

/* radio button size */
.x-form-radio-default {
    font: 13px;
}

/* checkbox  */
.x-form-cb-default {
    margin-top: 1px;
}
.x-form-cb-label-default {
    margin-top: 0px;
    font: 300 12px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    color: #404040;
}

.x-form-cb-checked .x-form-radio-default {
    font: 13px/1 'Font Awesome 5 Free Regular';
}
/* checkbox on wms layers */

.impact-wms-panel .x-form-cb-label {
    margin-top: 1px;
    margin-left: 3px;
    font: 300 12px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    }

.impact-wms-panel .x-form-cb-wrap-default {
    height: 20px;
}
.x-form-radio-default {
    font: 12px/1 'Font Awesome 5 Free Regular';
}
.x-window-header-default-top{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px ;
}
.impact-wms-panel {
    margin-top: 2px;
    margin-bottom: 2px;
}
/* ##### Button size ###### */
.x-btn-default-small {
    padding: 1px 1px 1px 1px;
}
.impact-icon-button {
    border-width: 0px;
    background-color: transparent;
    margin-left: 2px;
}

.impact-icon-button_yellow {
    border-width: 0px;
    background-color: #b5c6d4;
    margin-left: 2px;
}
/* ##### Font size ###### */
.x-panel-body-default {
    font-size: 12px;
}

/* items label too tick */
.x-form-item-label-default {
    color: #404040;
    font: 300 12px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    padding: 1px 1px 1px 1px;
}
.x-form-item-label-default.x-form-item-label-top > .x-form-item-label-inner {
    padding: 1px 1px 1px 1px;
}

.x-form-text-default {
    color: #404040;
    padding: 1px 1px 1px;
    background-color: #fff;
    font: 300 12px/21px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    min-height: 22px;
}
.x-form-trigger {
    height: 22px;
}

/* grid cell padding eg DBF table and legends*/
.x-grid-cell-inner {
    padding: 2px 4px 1px;
}

/* grid cell header in LEGEND grid*/
.x-accordion-item .x-accordion-hd {
    padding: 2px 10px;
}

/* color of collapse icon on panels */
.x-tool-tool-el {
    color: #4c88d7;
}