.8c1981c1b9b885d8ebc0d3bf2c70306bfff86cf3{display:block;}/*  ################################
    ####### Processing Panel #######
    ################################ */
    .ProcessingWindowExtraTools .x-btn-inner-default-small{
         text-align: center;
         color: black;
         font-size: 11px;
         margin-top : -120px;
    }


    .ProcessingPanel_Container{
         text-align: center;
         padding: 5px;
         font-weight: bold;
    }

    .ProcessingPanel_Label{
         text-align: center;
         font-size: 11px;
         font-weight: bold;
    }
    .ProcessingPanel_Icon{
        width: 120px!important;
        height: 60px!important;
        background-size: 100%;
        border: 1px solid Gray;
        margin: 0 2px;
    }
    .ProcessingPanel_Icon:hover{
         border: 1px solid Black;
    }
    .ProcessingPanel_Icon_EUDR{
        background-image: url('../images/EUDR.png') !important;
        width: 120px!important;
        height: 60px!important;
    }
    .ProcessingPanel_Icon_Rusle{
        background-image: url('../images/Rusle_model.png') !important;
        width: 120px!important;
        height: 60px!important;
    }
    .ProcessingPanel_Icon_PhotosToKML{
        background-image: url('../images/placemark.png') !important;

    }

    .ProcessingPanel_Icon_Sampling{
        background-image: url('../images/sampling.png') !important;

    }
    .ProcessingPanel_Icon_ConfusionM{
        background-image: url('../images/confusionM.png') !important;

    }
    .ProcessingPanel_Icon_Mspa{
        background-image: url('../images/mspa.png') !important;
        width: 75px!important;
        height: 75px!important;
    }
    .ProcessingPanel_Icon_Roads{
        background-image: url('../images/roads.png') !important;
        width: 75px!important;
        height: 75px!important;
    }
    .ProcessingPanel_Icon_Generic{
        background-image: url('../images/processing_generic.png') !important;
    }
    .ProcessingPanel_Icon_landsat{
        background-image: url('../images/processing_landsat.png') !important;
        width: 55px!important;
        height: 55px!important;
    }
    .ProcessingPanel_Icon_Sentinel2{
        background-image: url('../images/processing_sentinel2.png') !important;
        width: 55px!important;
        height: 55px!important;
    }
    .ProcessingPanel_Icon_RapidEye{
        background-image: url('../images/processing_radipeye.png') !important;
        width: 55px!important;
        height: 55px!important;
    }
    .ProcessingPanel_Icon_SentinelDownload{
        background-image: url('../images/CDSE_data_download.png') !important;
    }
    .ProcessingPanel_Icon_SatSensors{
        background-image: url('../images/processing_satsensors.png') !important;
    }
    .ProcessingPanel_Icon_Clipping{
        background-image: url('../images/processing_clipping.png') !important;
    }
    .ProcessingPanel_Icon_Classification{
        background-image: url('../images/processing_classification.png') !important;
    }
    .ProcessingPanel_Icon_AnalysisEnhancement{
        background-image: url('../images/processing_unmixing.png') !important;
    }
    .ProcessingPanel_Icon_Segmentation{
        background-image: url('../images/processing_segmentation.png') !important;
    }
    .ProcessingPanel_Icon_Degradation{
        background-image: url('../images/processing_degradation.png') !important;
    }
    .ProcessingPanel_Icon_SamplingAndAssessment{
        background-image: url('../images/processing_SamplingAndAssessment.png') !important;
    }

/* ################################
   ######   GEE images         ####
   ################################ */
   .gee_style_img{
       margin: 1 1 1 1;
       width: 150px!important;
       height: 150px!important;
   }
   .gee_style_div{
      width: max-content;
      margin: 1 1 1 1;
      width: 150px!important;
      height: 150px!important;
   }
   .gee_style_wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1px;
    }
    .gee_logo{
        background-image: url('../icons/gee.png') !important;
    }
    .planet_logo{
        background-image: url('../icons/planet.png') !important;
        width: 50px!important;
    }
/* ################################
   ######   Boxlabel Sentinel2 ####
   ################################ */
   .sentinel2-labels .x-form-cb-label{
       margin: 10 0 0 10;
   }
/*  ################################
    ####### ToolWindow Panel #######
    ################################ */

    .ToolWindow_Icon{
        width: 150px!important;
        height: 150px!important;
        background-size: 100%;
    }
    .ToolWindow_Icon_Mosaic{
        background-image: url('../images/mosaic.png') !important;
    }
    .ToolWindow_Icon_Fishnet{
        background-image: url('../images/fishnet.png') !important;
    }
    .ToolWindow_Icon_Statistics{
        background-image: url('../images/statistics.png') !important;
    }
    .ToolWindow_Icon_Fnormalization{
            background-image: url('../images/normalization.png') !important;
    }
    .ToolWindow_Icon_Pansharpen{
            background-image: url('../images/pansharpen.png') !important;
    }
    .ToolWindow_Icon_RasterConversion{
            background-image: url('../images/raster_conversion.png') !important;
    }
    .ToolWindow_Icon_VectorConversion{
            background-image: url('../images/vector_conversion.png') !important;
    }
    .ToolWindow_Icon_NBR{
            background-image: url('../images/Disturbance_NBR.jpg') !important;
    }
    .ToolWindow_Icon_ForestER{
            background-image: url('../images/Disturbance_NBR_report.jpg') !important;
    }
    .ToolWindow_Icon_CARBEF{
            background-image: url('../images/degradation_mmu.png') !important;
    }
    .ToolWindow_Icon_Classification{
            background-image: url('../images/classification.png') !important;
    }
    .ToolWindow_Icon_Unmixing{
            background-image: url('../images/unmixing.png') !important;
    }
    .ToolWindow_Icon_Kmeans{
            background-image: url('../images/kmeans.png') !important;
    }
    .ToolWindow_Icon_WaterBalance{
            background-image: url('../images/WaterBalance.png') !important;
    }
    .ToolWindow_Icon_Gaussian{
            background-image: url('../images/Gaussian.png') !important;
    }
    .ToolWindow_Icon_Pca{
                background-image: url('../images/pca.png') !important;
    }
    .ToolWindow_Icon_NDVI{
        background-image: url('../images/ndvi_th.png') !important;
    }
    .ToolWindow_Icon_RasterCalculator{
        background-image: url('../images/raster_calculator.png') !important;
    }
    .ToolWindow_Icon_Eudr_Intersection{
        background-image: url('../images/Eudr_intersect.png') !important;
    }
    .ToolWindow_Icon_Eudr_Info{
        background-image: url('../images/Eudr_info.png') !important;
    }



.red-bold-node{
    color: red !important;
    font-weight: bold !important;
}

.splashscreen {
     width: 519px!important;
     height: 316px!important;
     background-image: url('../images/IMPACT_splash.png') !important;
     border: 1px;
     margin: 0 0 0 0;

 }


.olImageLoadError {
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}

.layerInfoHeader{
    background-color: #dddddd;
    font-weight: bold;
    padding: 2px 2px;
    margin: 0 0 4px 0;
}
.layerInfoContent{
    padding: 3px 2px;
    margin: 0 0 10px 0;
}
.layerInfoName{
    font-weight: bold;
    color: Blue;
}


div.logContainer{
    padding: 8px 10px;
    border: 1px solid #555555;
    margin: 5px 5px;
}
    div.logContainer .logHeader{}
    div.logContainer .logBody{
        padding-top: 10px;
    }
        div.logContainer .logHeader .messageIcon{
            vertical-align: middle;
        }

        div.logContainer .logHeader .right{
            float: right;
        }
        div.logContainer .logHeader button{
            font-size: 11px;
            margin-top: -3px;
            margin-right: 5px;
            line-height: 16px;
            vertical-align: middle;
        }
        div.logContainer .logHeader .logStatus{
            margin:  0 15px 0 10px;
            font-weight: bold;
        }
            .logCompleted{
                color: #196F3D;
            }
            .logRunning{
                color: #ffaa00;
            }
            .logWarning{
               color: #ff5733;
            }
            .logError{
                color: #990000;
            }

    div.logContainer .sectionHeader{
        background-color: #dddddd;
        font-weight: bold;
        padding: 2px 5px;
        margin-top: 5px;
    }
    div.logContainer .sectionBody{
        padding: 2px 5px;
    }
    div.logContainer .sectionBody table td{
        font-size: 12px;
    }
    div.logContainer .topButton {
        font-size: 15px;
        float: right;
        padding: 2px 5px;
        margin-top: 5px;
    }


/*  ############### Toolbars  ############### */
    .toolbarText{
        font-size: 12px;
        color: #000000;
        font-style: italic;
    }
    .highlightToolbarText{
        font-size: 12px;
        color: #0066FF;
        font-style: italic
    }
         .x-field-label-cell{
             vertical-align: middle;
         }

.highlightButton{
    font-weight: bold;
    background: #FFC0CB;
}



/* #########  Legend Icon  ########### */
/* built dynamically with "legend_icon_" + ColorPalettesFromStore[i].data.type,*/
.legend_icon_land_cover{
    background-image:url('../icons/LandCover.png');
}
.legend_icon_degradationNBR{
    background-image:url('../icons/DegradationNBR.png');
}

.legend_icon_degradationMMU{
    background-image:url('../icons/DegradationMMU.png');
}


/* ########################################### */
/* #########  Icons: (Font Awesome)  ######### */
/* ########################################### */

.x-btn .fa,
button .fa{
    margin: 1px 3px 1px 1px;
}

.pointer{
    cursor: pointer;
}

.fa-16{
    font-size: 16px;
    line-height: 1em;
}
.fa-lg{
    line-height: 1em;
}

.fa-blue{
    color: #73B2D8;
}
.fa-red{
    color: #C9302C;
}
.fa-orange{
    color: #FFA500;
}
.fa-black{
    color: #000000;
}
.fa-green{
    color: #339933;
}
/* ########################################### */
/* ######  Openlayers:  adjust style   ####### */
/* ########################################### */
.ol-zoomslider {
    margin-top: 50px;
}